<!--option value="cityprobe2">cityprobe2</option-->
<option value="dmisensor">dmisensor</option>
<option value="smartcitizen">smartcitizen</option>
<option value="wifilocations">wifilocations</option>
<option value="metdotno">MET.no</option>
<option value="ausensor">AU air quality</option>
<option value="open-meteo">Open-Meteo.com</option>