<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Web page settings --> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Masters Thesis Project </title>

    <!-- Styling --> 
    <link rel="stylesheet" href="style/style.css" />
    <link rel="stylesheet" href="style/querytool.css" />
    <link rel="stylesheet" href="style/phones.css" />
    <link rel="shortcut icon" href="style/favicon.ico" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>