<!-- Scripts for leaflet.js --> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<!-- LEAFLET LIBRARIES. -->
<div>
  <!-- This is a roundabout way of adding jquery to leafletmap.js-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script defer type="module" src="/js/leafletmap.js"></script>
  <!-- drawing toolbar css and js files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css">
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
  <!-- Geocoding. -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <!-- Marker clusters. Files are stored in public/lib/leaflet-markercluster. Note, that they are copied from the npm install. -->
  <link rel="stylesheet" href="/lib/leaflet-markercluster/MarkerCluster.css" />
  <link rel="stylesheet" href="/lib/leaflet-markercluster/MarkerCluster.Default.css" />
  <script src="/lib/leaflet-markercluster/leaflet.markercluster-src.js"></script>
  <script src="/lib/leaflet-markercluster/MarkerCluster.js"></script>
  <script src="/lib/leaflet-markercluster/MarkerCluster.Spiderfier.js"></script>
  <!-- Grouped layer control -->
  <link rel="stylesheet" href="/lib/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css">
  </script>
  <script src="/lib/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js"></script>
  <!-- geoJSON-vt is a performance library, that helps with solving lag for using large geojson objects by slicing the vector tiles. -->
  <script src="https://unpkg.com/geojson-vt@3.2.0/geojson-vt.js"></script>
  <script src="/lib/leaflet-geojson-vt/src/leaflet-geojson-vt.js"></script>
  <!-- More performance libraries. -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.vectorgrid@1.2.0"></script>
  <!-- leaflet SideBars -->
  <link rel="stylesheet" href="/lib/leaflet-sidebar/src/L.Control.Sidebar.css">
  <script src="/lib/leaflet-sidebar/src/L.Control.Sidebar.js"></script>
</div>

<div id="map"></div>
<div id="sidebar"></div>
<p> hint: hold shift to select a certain view to lock into. </p>

<h2> Query tool. </h2>

<form name="queryForm" class="queryForm" onsubmit="javascript:queryMap();" autocomplete="on">
  <p class="formText"> Source Layer </p>
  <select id="source" name="source" multiple>
    {{>sources}} <!-- automatically selected from partials folder. -->
  </select>
  <p class="formText"> SELECT Columns:</p>
  <select name="fields" id="fields" multiple>
    <option value="geometry">Geometry</option>
    <option value="device_type">Device Type</option>
    <option value="locations.device_id">Device ID</option>
    <option value="*">Measurements</option>
    <option value="json">JSON content</option>
    <option disabled> Modified geometry! </option>
    <option value="st_x"> Latitude </option>
    <option value="st_y"> Longitude </option>
    <option value="st_distance">shortest distance to target layer</option>
    <!--option value="st_area"> Area</option>
    <option value="st_numgeometries">Number of parts in collection</option-->
  </select>

  <p class="formText"> Select by attribute </p>
  <table align="center">
    <tr><td>Column</td><td><input type="text" id="clauseColumn" name="clauseColumn"></td></tr>
    <tr><td>Parameter</td><td>
      <select name="parameter" id="parameterSelect" width="20em">
        <option value=">">Greater than </option>
        <option value="<">Less than </option>
        <option value="=">Equal to </option>
        <option value="=>">Less than or equal to</option>
        <option value="<=">Greater than or equal to </option>
        <option value="!=">Not equal to</option>
        <option value="like">Like. Use % to mark pattern. </option>
        <option value="jsonsubsetof">JSON key with value</option>
      </select>
    </td></tr>
    <tr><td>Column value</td><td><input type="text" id="clauseValue"></td></tr>
  </table>

  <input type="checkbox" id="gccheck"> Select by location
  <table align="center" class ="tableForm">
    <tr><td>The source layer...</td>
    <td>
      <select name="clauseSelect" id="clauseSelect">
        <option value="st_within"> Contain </option>
        <option value="!st_within"> Does not contain </option>
        <option value="st_intersects"> Intersects or touch </option>
        <option value="!st_intersects"> Do not intersect </option>
        <option value="st_dwithin"> shortest distance is equal to or less than </option>
        <option value="!st_dwithin"> shortest distance is at least </option>
        <option value="knn"> K nearest neighbors </option>
        <!--option value="st_crosses"> Crosses </option-->
        <!--option value="st_disjoint"> Do not intersect. st_intersect is faster. </option-->
        <!--option value="st_equals"> if geometry is the same </option>
        <option value="st_overlap"> Overlap (not completely) </option>
        <option value="st_touches"> Geometries touch </option-->
      </select>
    </td></tr>
    <tr><td>Target layer</td>
    <td>
      <select name="cls" id="cls">
        <option value="point"> The buffer point </option>
        <option value="line"> The buffer line </option>
        <option disabled> Elements in... </option>
        {{>sources}}
      </select>
    </td></tr>
    <tr><td>Apply search distance</td><td><input type="number" id="searchdistance"></td></tr>
  </table>    
  <p class="formText"> Order by </p>
  <select class="orderSelect" name="orderSource" id="orderSource">
    <option value="device_id">device_id</option>
    <option value="time">time</option>
    <option value="st_distance">shortest distance (KNN only)</option>
    <option value="st_x">East-West</option>
    <option value="st_y">North-South</option>
  </select>
  <select class="orderSelect" name="orderType" id="orderType">
    <option value="asc">ASC</option>
    <option value="desc">DESC</option>
  </select>
  <table align="center">
    <tr><td>Limit</td>
    <td><input type="number" id="inputLimit" class="inputLimit"></td></tr>
  </table>
  <center><input type="button" value="update" id="updateBtn"></center>
</form>
  
<p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>

<h2> Selected objects. </h2>
<table id="queryTable"><th> Nothing. </th></table>