<!-- Scripts for leaflet.js --> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<!-- LEAFLET LIBRARIES. -->
<div>
<!-- This is a roundabout way of adding jquery to leafletmap.js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script defer type="module" src="/js/leafletmap.js"></script>
<!-- drawing toolbar css and js files --> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css">
<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<!-- Geocoding. -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!-- Marker clusters. Files are stored in public/lib/leaflet-markercluster. Note, that they are copied from the npm install. --> 
<link rel="stylesheet" href="/lib/leaflet-markercluster/MarkerCluster.css"/> 
<link rel="stylesheet" href="/lib/leaflet-markercluster/MarkerCluster.Default.css"/> 
<script src="/lib/leaflet-markercluster/leaflet.markercluster-src.js"></script>
<script src="/lib/leaflet-markercluster/MarkerCluster.js"></script>
<script src="/lib/leaflet-markercluster/MarkerCluster.Spiderfier.js"></script>
<!-- Grouped layer control -->
<link rel="stylesheet" href="/lib/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css"></script>
<script src="/lib/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js"></script>
<!-- geoJSON-vt is a performance library, that helps with solving lag for using large geojson objects by slicing the vector tiles. --> 
<script src="https://unpkg.com/geojson-vt@3.2.0/geojson-vt.js"></script>
<script src="/lib/leaflet-geojson-vt/src/leaflet-geojson-vt.js"></script>
<!-- More performance libraries. -->
<script type="text/javascript"  src="https://unpkg.com/leaflet.vectorgrid@1.2.0"></script>
<!-- leaflet SideBars -->
<link rel="stylesheet" href="/lib/leaflet-sidebar/src/L.Control.Sidebar.css">
<script src="/lib/leaflet-sidebar/src/L.Control.Sidebar.js"></script>

<!-- Side-by-Side -->
<!-- script src="leaflet-side-by-side.js"></script -->
</div>

<p>todo:</p>
<ul>
  <!--li> <a href="https://www.youtube.com/@gissolutions4604/videos"> GIS SOLUTIONS </a></li>
  <li> [ OK ] SWITCH FETCHES TO USE PROMISES. </li>
  <li> [ OK ] Time series and scale. <a href="https://dba.stackexchange.com/questions/294292/database-architecture-of-high-frequency-sensor-values"> LINK </a></li>
  <li> [ OK ] Leaflet tips and tricks. <a href="https://leanpub.com/leaflet-tips-and-tricks/read#leanpub-auto-adjust-the-markers-transparency"> LINK </a></li>
  <li> [ ] Leaflet tips based on AngularJS. <a href="https://tombatossals.github.io/angular-leaflet-directive/examples/0000-viewer.html#/basic/double-map-toggle-example"> LINK </a></li>
  <ul> LAYER CONTROL
    <li> [ OK ] Tag filter button? <a href="https://maydemirx.github.io/leaflet-tag-filter-button/"> LINK </a></li>
    <li> [ OK ] Togglable overlays <a href="https://gis.stackexchange.com/questions/169011/leaflet-how-to-create-toggleable-overlays-from-a-single-geojson-featurecollecti"> LINK</a> </li>
    <li> [ DROP ] side-by-side tool to switch map projections. <a href="https://www.youtube.com/watch?v=R6xybRnfzh4"> LINK </a>, <a href="https://www.npmjs.com/package/leaflet-side-by-side">NPM</a></li>
    <li> [ OK ] See onenote for projections </li>
    <li> [ ] Mapbox access token to test: "access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6IjZjNmRjNzk3ZmE2MTcwOTEwMGY0MzU3YjUzOWFmNWZhIn0.Y8bhBaUMqFiPrDRW9hieoQ" </li>
  </ul>
  <li> [ OK ] marker clusters </li>
  <ul>
    <li> [ OK ] Marker cluster overlay <a href="https://gis.stackexchange.com/questions/437459/leaflet-toggle-marker-clustering-with-overlay">LINK</a></li>
  </ul>
  <li> [ OK ] make leaflet markers refresh </li>
  <li>drawing tools: </li>
   <ul>
    <li> [ OK ] Draw an area to get information about the selected elements. I.e. a table below the map. <a href="https://stackoverflow.com/questions/64702581/leaflet-js-draw-rectangle-and-filter-circle-markers-in-the-rectangle-and-updat"> LINK </a></li>
    <li> [ OK ] This query tool is good inspiration. <a href="https://www.youtube.com/watch?v=KfljXu9xmSE"> LINK </a></li>
  </ul>
  <li> Nearest neighbor stuff. QUERIES. </li-->
  <!--li>Data to add: </li>
  <ul--> 
    <!--li> [ OK ] Traffic data. <a href="https://www.opendata.dk/city-of-aarhus/realtids-trafikdata"> LINK </a></li-->
    <!--li> [ OK ] WiFi locations. IMPORTANT! <a href="https://www.opendata.dk/city-of-aarhus/wifi-i-aarhus-kommune"> LINK </a></li-->
    <!--li> [ OK ] Air quality. <a href="https://envs2.au.dk/Luftdata/Presentation/table/Aarhus/AARH3"> LINK </a> <a href="https://www.opendata.dk/city-of-aarhus/luftkvaliteten-i-danmark"> LINK </a></li-->
    <!--li> [ DROP ] Height of water vejle. <a href="https://www.opendata.dk/city-of-vejle/vandstandsstationer-med-online-malinger">LINK</a></li-->
    <!--li> [ DROP ] VERY GOOD SENSORS FROM SPAIN. <a href="https://data.europa.eu/data/datasets/http-datos-santander-es-catalogo-sensores-ambientales?locale=da">LINK</a-->
    <!--li> [ DROP. NOT WORTH BECAUSE THEY SEEM TO BE DYING OUT. ] FIX SCKs. </li-->
    <!--li> [ OK ] MET.no </li-->
    <li> LEAVE THESE FOR TESTING/EVALUATION </li>
    <li> [ ] Open-meteo.com ; Combines ECMWF and MET.no and DWD </li>
    <!--li> [ ] Sensor.community sensors (DROP. MERE AF DET SAMME.) </li-->
    <li> [ ] GeoFA kort Danmark. Friluftsliv faciliteter. <a href="https://www.opendata.dk/geodanmark/geofa"> LINK </a></li> 
    <li> [ ] OpenSensorWeb. <a href="https://data.opensensorweb.de/#/search?c=10.220165623118874%2C56.16031161377509&sid=EEA-air%24STA-DK0056A%24SPO-DK0056A_00008_100-NO2-PT1H%2CEEA-air%24STA-DK0056A%24SPO-DK0056A_00007_100-O3-PT1H%2CEEA-air%24STA-DK0051A%24SPO-DK0051A_00010_100-CO-PT1H%2CEEA-air%24STA-DK0051A%24SPO-DK0051A_00008_100-NO2-PT1H%2CEEA-air%24STA-DK0051A%24SPO-DK0051A_00005_104-PM10-PT1H%2C&te=2013-07-23T05%3A47%3A25.956Z%2C2023-04-05T10%3A16%3A49.642Z&tz=B&v=sidebar&z=11.559449212620956">Map. </a> <a href="https://data.opensensorweb.de/#/search?c=10.220165623118874%2C56.16031161377509&sid=EEA-air%24STA-DK0056A%24SPO-DK0056A_00008_100-NO2-PT1H%2CEEA-air%24STA-DK0056A%24SPO-DK0056A_00007_100-O3-PT1H%2CEEA-air%24STA-DK0051A%24SPO-DK0051A_00010_100-CO-PT1H%2CEEA-air%24STA-DK0051A%24SPO-DK0051A_00008_100-NO2-PT1H%2CEEA-air%24STA-DK0051A%24SPO-DK0051A_00005_104-PM10-PT1H%2C&te=2013-07-23T05%3A47%3A25.956Z%2C2023-04-05T10%3A16%3A49.642Z&tz=B&v=sidebar&z=11.559449212620956">Their sources</a> </li>
  <!--/ul-->
  <!--li> SOLVE TASKS FROM REPORT </li> -->
  <!--ul-->
    <!--li> [OK] What are the sensor types and their values in general? </li>
    <ul><li> Find markers/features - find by attribute. <a href="https://www.youtube.com/watch?v=WnPcSGlh0eQ"> LINK </a></li></ul-->
    <!--li> [OK] Which sensors are contained in this area, and what do they record? </li-->
    <!--li> \item (follow-up) Would it be a good idea to set up a sensor here? - This is a question, we can't answer.</li-->
    <!--li> \item From this point, what is the closest sensor data in PROXIMITY, and what does it read? </li>
    <li> [ OK ] Solution: allow creation of BUFFER FROM POINT to search from. </li-->
    <!--li> \item For this particular sensor, do sensors in PROXIMITY sensors show similar values?</li>
    <li> [ ] Solution to the 2 above: A query that finds all sensors within the geojson area of the postal code.  -->
    <li>\item If there are no sensors nearby, what are the NEAREST NEIGHBORS, and what do they read?</li>
    <!--li> [ OK ] Solution: Allow creation of BUFFER FROM POINT to search from. </li>
    <li> Good resource for inspiration: <a href="https://towardsdatascience.com/postgis-a-complete-workflow-729bb604f34c"> LINK</a></li-->
    <!--ul>
      <li> [ ] What are the closest sensor values for where i am? </li>
      <li> [ ] <a href="https://www.youtube.com/watch?v=8rOZRE1Z0hE&t=52s"> LINK </a> </li>
      <li> [ ] Solution: write a KNN query to this one. </li>
    </ul-->
  <!--/ul-->
  <!--ul> QUESTION: How well do i know about pollution/sensor information *right here*? And would it be a good idea to set up a sensor here?
    <li> [ OK ] Get all sensors within range. <a href="https://stackoverflow.com/questions/51889155/getting-all-buildings-in-range-of-5-miles-from-specified-coordinates/51889638#51889638"> LINK</li>
    <li> [ OK ] Other queries. <a href="https://www.bostongis.com/?content_name=postgis_tut02#21"> LINK </a></li>
    <li> [ OK ] Solution: allow creation of BUFFER FROM POINT to search from. </li>
  </ul-->
</ul>
<div id="map"></div>
<div id="sidebar"></div>
<p> hint: hold shift to select a certain view to lock into. </p>

<h2> Query tool. </h2>

<form name="queryForm" class="queryForm" onsubmit="javascript:queryMap();" autocomplete="on">
  <p class="formText"> Source Layer </p>
  <select id="source" name="source" multiple>
    {{>sources}} <!-- automatically selected from partials folder. -->
  </select>
  <p class="formText"> SELECT Columns:</p>
  <select name="fields" id="fields" multiple>
    <option value="geometry">Geometry</option>
    <option value="device_type">Device Type</option>
    <option value="locations.device_id">Device ID</option>
    <option value="*">Measurements</option>
    <option value="json">JSON content</option>
    <option disabled> Modified geometry! </option>
    <option value="st_x"> Latitude </option>
    <option value="st_y"> Longitude </option>
    <option value="st_distance">shortest distance to target layer</option>
    <!--option value="st_area"> Area</option>
    <option value="st_numgeometries">Number of parts in collection</option-->
  </select>

  <p class="formText"> Select by attribute </p>
  <table align="center">
    <tr><td>Column</td><td><input type="text" id="clauseColumn" name="clauseColumn"></td></tr>
    <tr><td>Parameter</td><td>
      <select name="parameter" id="parameterSelect" width="20em">
        <option value=">">Greater than </option>
        <option value="<">Less than </option>
        <option value="=">Equal to </option>
        <option value="=>">Less than or equal to</option>
        <option value="<=">Greater than or equal to </option>
        <option value="!=">Not equal to</option>
        <option value="like">Like. Use % to mark pattern. </option>
        <option value="jsonsubsetof">JSON key with value</option>
      </select>
    </td></tr>
    <tr><td>Column value</td><td><input id="clauseValue" width="20em"></td></tr>
  </table>

  <input type="checkbox" id="gccheck"> Select by location
  <table align="center" class ="tableForm">
    <tr><td>The source layer...</td>
    <td>
      <select name="clauseSelect" id="clauseSelect">
        <option value="st_within"> Contain </option>
        <option value="!st_within"> Does not contain </option>
        <option value="st_intersects"> Intersects or touch </option>
        <option value="!st_intersects"> Do not intersect </option>
        <option value="st_dwithin"> shortest distance is equal to or less than </option>
        <option value="!st_dwithin"> shortest distance is at least </option>
        <option value="knn"> K nearest neighbors </option>
        <!--option value="st_crosses"> Crosses </option-->
        <!--option value="st_disjoint"> Do not intersect. st_intersect is faster. </option-->
        <!--option value="st_equals"> if geometry is the same </option>
        <option value="st_overlap"> Overlap (not completely) </option>
        <option value="st_touches"> Geometries touch </option>
        <option value="st_within"> Geometries overlap </option-->
      </select>
    </td></tr>
    <tr><td>Target layer</td>
    <td>
      <select name="cls" id="cls">
        <option value="point"> The buffer point </option>
        <option value="line"> The buffer line </option>
        <!--option value="circle"> The buffer circle. This option is nonsensical. The same as point. </option-->
        <!--option value="square"> The buffer square. This option is nonsensical. It overlaps with other features. </option-->
        <!--option value="polygon"> The buffer polygon </option-->
        <option disabled> Elements in... </option>
        {{>sources}}
      </select>
    </td></tr>
    <tr><td>Apply search distance</td><td><input type="number"></td></tr>
  </table>    
  <p class="formText"> Order by </p>
  <select class="orderSelect" name="orderSource" id="orderSource">
    <option value="device_id">device_id</option>
    <option value="time">time</option>
    <option value="st_distance">shortest distance</option>
    <option value="st_x">East-West</option>
    <option value="st_y">North-South</option>
  </select>
  <select class="orderSelect" name="orderType" id="orderType">
    <option value="asc">ASC</option>
    <option value="desc">DESC</option>
  </select>
  <table align="center">
    <tr><td>Limit</td>
    <td><input type="number" id="inputLimit" class="inputLimit"></td></tr>
  </table>
  <center><input type="button" value="update" id="updateBtn"></center>
</form>
  
<p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>

<h2> Selected objects. </h2>
<table id="queryTable"><th> Nothing. </th></table>